form {
  background-color: var(--gray-2);
  padding: 30px;
}

#task,
#answer {
  padding: 0;
  font-size: inherit;
}

.response-box {
  background-color: var(--accent-2);
  border: double;
}

.task-box {
  background-color: var(--gray-2);
  border: dotted;
}
