.link {
  color: var(--accent-a11);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--gray-a6);
  text-decoration-thickness: min(2px, max(1px, 0.05em));
  text-underline-offset: calc(0.025em + 2px);
}

li {
  margin-bottom: 8px;
}
